<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="../../shared-css/shared.css">
    <link rel="stylesheet" href="object-constancy.css">
    <link rel="icon" type="image/png" href="">
  </head>
  <body>

    <svg width="720" height="120">
    </svg>

    <pre>
      Putting everything together, consider the three possible outcomes that result from joining data to elements:

      enter - incoming elements, entering the stage.
      update - persistent elements, staying on stage.
      exit - outgoing elements, exiting the stage.
    </pre>


    <script src="../../shared-js/d3/d3.min.js"></script>
    <script src="object-constancy.js"></script>
  </body>
</html>
